.playlist {
    list-style: none;
}

.playlist__item {
    padding: 0.5em;
}

.playlist__item {
    padding: 0.5em;
    cursor: pointer;
}

.playlist__item > * {
    cursor: pointer;
}

.playlist__label {
    padding-left: 0.5em;
    cursor: pointer;
}

.new__playlist {
    padding-left: 0.3em;
    cursor: pointer;
}