.popup__container {
    display: initial;
}

.playlist {
    list-style: none;
}

.playlist__item {
    padding: 0.5em;
    cursor: pointer;
    text-transform: capitalize;
}

.playlist__item > * {
    cursor: pointer;
}

.playlist__label {
    padding-left: 0.5em;
    cursor: pointer;
    font-size: var(--font-normal);
}

.popup__footer {
    padding: 0;
}