

.App {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 2.5rem auto;
    grid-template-columns: 12em 1fr;
    grid-template-areas: "nav nav"
                         "sidenav content";
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .App {
        grid-template-columns: 3.5em 1fr;
    }
}

.nav__container {
    grid-area: nav;
    position: relative;
}

.sidenav__container {
    grid-area: sidenav;
    position: relative;
}

.content__container {
    grid-area: content;
    position: relative;
}