@import url('https://seasoning-ui.netlify.app/seasoning.css');

:root {
    --app-primary-color: var(--color-blue);
    --font-large: 1.2rem;
    --font-normal: 1rem;
    --font-small: 0.8rem;
    --padding-1: 1em;
    --padding-2: 2em;
    --padding-point5: 0.5em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2.5em auto;
    grid-template-areas: "nav nav"
                         "sidenav main"; 
}

.nav__container {
    grid-area: nav;
}

.sidenav__container {
    grid-area: sidenav;
}

.container {
    grid-area: main;
}