body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --app-primary-color: var(--color-blue);
  --font-large: 1.2rem;
  --font-normal: 1rem;
  --font-small: 0.8rem;
  --padding-1: 1em;
  --padding-2: 2em;
  --padding-point5: 0.5em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}