nav {
    background: white;
    box-shadow: 0 0 1px rgb(67 90 111 / 47%),
                 0 2px 4px -2px rgb(67 90 111 / 30%);
    border: 1px solid var(--color-grey);
    height: 2.5em;
    position: fixed;
    width: 100%;
}

.search__input__container {
    margin: auto;
}

.search__input > input {
    padding: 0.4em;
    width: 30vw;
    min-width: 12em;
}

.nav__title {
    display: flex;
    position: relative;
    align-items: center;
}

.nav__title > img {
    width: 40px;
    height: 40px;
    position: absolute;
    clip: rect(0, 30px, 30px, 0);
    left: -15px;
}